<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='part1.css') }}">
</head>
<body>
    <p><a href="/home">home</a></p>

    <p><a href="/about">about</a></p>

    <p><a href="/supportcontact">support contact</a></p>

    <p><a href="/register">register</a></p>

    <p><a href="/MeetTheMaker">meet the maker</a></p>

    <p><a href="/login">login</a></p>

    <p><a href="/FarmersOnBoarding">FarmersOnBoarding</a></p>

    <p><a href="/logout">logout</a></p>

    <p><a href="/ProductCatalog">ProductCatalog</a></p>

    <p><a href="/ShoppingCart">ShoppingCart</a></p>

    <p><a href="/QrScanAndGo">QrScanAndGo</a></p>

    <p><a href="/PurchaseHistory">PurchaseHistory</a></p>

    <p><a href="/Dashboard">Dashboard</a></p>

    <p><a href="/StockManagement">StockManagement</a></p>

    <p><a href="/MoveProduct">MoveProduct</a></p>

    <p><a href="/OrdersFullfillments">OrdersFullfillments</a></p>

    <p><a href="/ContactGlhFarmers">ContactGlhFarmers</a></p>

    <p><a href="/Responsepage">Responsepage</a></p>

    <p><a href="/Logistics">Logistics</a></p>

    <p><a href="/farmersReviews">farmersReviews</a></p>

    <p><a href="/inventory">inventory</a></p>

    <p><a href="/delivery">delivery</a></p>

    <p><a href="/DataRequirementsGuide">DataRequirementsGuide</a></p>

    <p><a href="/phyicaladress">adress</a></p>

    <p><a href="/legalusersvarification">farm askes</a></p>

    <p><a href="/payfarmers">pay farmers</a></p>

    <p><a href="/famerAddProduct">add goods</a></p>

    <p><a href="/certifications">certifications</a></p>
   
    <p><a href="/GLHAdminregister">Adminregister.htm</a></p>

</body>
</html>