<!DOCTYPE html>
<html lang="en">
<head>
    <style>
  .hero-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{{ url_for('static', filename='uploads/hero5.jpg') }}");
  }
    </style>
    <title>Dashboard</title>
    <style>
        h1 {
            color: green;
        }
    </style>
</head>
<body>

    <div class="logout-card">
        <div class="icon">🌿</div>
        <h1>Successfully Signed Out</h1>
        <p>Thank you for supporting your local farmers today. We hope to see you at the market again soon!</p>

        <a href="/" class="btn-home">Return to Home Page</a>
    </div>

</body>
</html>